html {
  height: 100%;
}

body {
  background-color: #f4f1ed; /* For browsers that do not support gradients */
  height: 100%; /* Standard syntax (must be last) */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main {
  width: 40%;
  margin-left: 3%;
  margin-top: 5%;
  float: left;
  font-family: "calluna-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: black;
  font-size: 1.4em;
  height: 100%;
}


.main small-caps {
    font-family: "calluna-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-variant: small-caps;
}

.main small-info {
  line-height: 0.9em;
  font-size: 0.7em;
}


.main ul {
  list-style-type: none;
  margin-bottom: 0.7 em;
}

.main ul a {
    color:black;
}

.main ul a:hover {
    color:#41ad49;
}

.box {
  margin-left:50%;
  background-color: black;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;

}

#myNav{
    list-style-type: none;
    line-height: 1.3em;
}
#myNav li {
    display: inline;
    padding: 0px;
}

#myNav li a {
    color:black;
}

#myNav li a:hover {
    color:#41ad49;
}

#navImage img{
		max-width: 37vw;   /* 50% of the viewport width */
    max-height: 80vh;
    width: auto;
    height: auto;
    object-fit: contain;
}


#navImage img{
    display:none;
}
